# This is an example of the .env file for the frontend application.
# Please copy this file to .env and replace the placeholder values with your actual configuration.

REACT_APP_API_BASE_URL=http://YOUR_EC2_IP:8080

REACT_APP_KEYCLOAK_BASE_URL=http://YOUR_EC2_IP:8081

REACT_APP_REDIRECT_URI=https://xxxxx.cloudfront.net

REACT_APP_KEYCLOAK_REALM= your realm

REACT_APP_KEYCLOAK_CLIENT_ID= your client id